Source: makemkv-bin
Section: video
Priority: optional
Maintainer: Michael Mohr <akihana@gmail.com>
Build-Depends: debhelper (>=9), makemkv-oss
Standards-Version: 3.9.8
Homepage: http://www.makemkv.com/
Vcs-Git: https://github.com/Rupan/makemkv-bin.git
Vcs-Browser: https://github.com/Rupan/makemkv-bin

Package: makemkv-bin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libc6, libstdc++6, makemkv-oss
Description: Convert video into free and patents-unencumbered format.
 MakeMKV is a format converter, otherwise called "transcoder". It converts
 the video clips from proprietary (and usually encrypted) disc into a set of
 MKV files, preserving most information but not changing it in any way.
